<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input type="text" id="mytext"/>
    <button onclick="send()">send</button>

    <script type="text/javascript">
    	
    	var ws = new WebSocket("ws://10.2.154.234:8080");
    	var name = prompt("请输入你的名字");

		ws.onopen = function(){
			//连接成功调用
			console.log("连接成功");
		} 

		ws.onmessage = function(msg){
			// 服务器给客户端发消息
			console.log(msg.data);
		}

		ws.onerror =function(){
			// 连接失败调用
		}

		ws.onclose = function(){
			// 服务器断掉
		}

		var otext = document.getElementById("mytext");


		function send(){
			ws.send(JSON.stringify({
				name:name,
				info:otext.value
			}));

		}
    </script>
  </body>
</html>
